<progress value="0" max="1" id="raceProgress"></progress>
<div class="weightSmaller card verticalScrollContainer loading" id="textContainer"></div>
<input type="text" id="textInput" placeholder="Type the text above here as quickly as you can..." disabled>